.title {
    font-family: 'Brush Script MT', cursive;
    font-size: 44px;
    text-align: center;
    margin-top: 20px;
    color: goldenrod;
}

.link {
    font-size: 16px;
    color: darkblue;
    margin-top: 5px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.image {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}

.subsection {
    color: goldenrod;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}